.h1-review{
  padding: 25px 0;
}
.review-user-name {
  font-weight: 700;
  padding-right: 25px;
}
.review-creating-date {
  padding-right: 15px;
}
.review-description {
  padding-top: 15px;
}
.review-rating {
  padding-left: 60px;
  font-weight: 700;
}
