.h1-phrase {
  font-size: 35px;
  padding: 50px 0;
}
.spaceship-name{
  font-size: 25px;
  padding-bottom: 25px;
}
.crop-photo {
  min-width: 480px;
  max-width: 680px;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.spaceship-photo {
  // background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 25px;
}
.spaceship-description {
  padding: 25px 0;
}
.left-your-review-box {
  min-width: 276px;
}
.no-review{
  padding-top: 25px;
}
.margin-bottom {
  margin-bottom: 25px;
  display: block;
  padding-left: 40px;
}
.booking-form {
  font-size: 25px;
  padding-bottom: 10px;
}
