<div class="home-splash">
  <div class="home-content">
    <h1>Welcome to your journey to space...</h1>
    <br>
    <div class="homepage-buttons" style= "display: flex; justify-content: center;">
      <%= link_to('I need a spaceship', spaceships_path, method: :get, class: "button") %>
      <%= link_to('Rent out your spaceship', new_spaceship_path, method: :get, class: "button") %>
    </div>
  </div>
</div>



