<h1>Welcome to your journey in space...</h1>
<br><br><br>
<h2>Available spaceships</h2>

<div style="display: flex;">

<% @ships.each do |ship| %>
  <div class="card">
    <p class="card-title"><%= ship.name %></p>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-infos">
      <p><%=ship.description %></p>
      <p><%= link_to "See details", spaceship_path(ship) %></p>
    </div>
  </div>
<% end %>

</div>





<div class="review">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="review-content">
    <div class="review-infos">
      <p><small>The Alien</small></p>
      <p><small> at </small></p> <span> </span>
      <p><small>20/01/2019 at 5:47pm</small></p>
    </div>
    <p>This is a text paragraph, use to tell interesting stuff to our users so they can book. If they book, we make money, if we make money, we buy more spaceships.</p>
  </div>
</div>
