<div class="home-splash">
  <h1>Welcome to your journey in space...</h1>
</div>

<br><br><br>
<h2>Available spaceships</h2>

<div style="display: flex;">

<% @ships.each do |ship| %>
  <div class="card">
    <p class="card-title"><%= ship.name %></p>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-infos">
      <p><%=ship.description %></p>
      <p><%= link_to "See details", spaceship_path(ship) %></p>
    </div>
  </div>
<% end %>

</div>

