.card {
  overflow: hidden;
  color: #69DB57;
  // font-family: "Space Mono", "monospace";
  height: 224px;
  width: 240px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card:hover {
  border: 1px solid #69DB57;
}

.card > img {
  height: 130px;
  justify-content: center;
}

.card-title {
  margin: 12px;
  line-height: 24px;
  text-align: center;
}

.card-infos {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-infos > p {
  font-family: "Space Mono", "monospace";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}


.marker-card {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #000000;
}
