.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 2px #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon > .button {
  width: 40px;
}
