.h1 {
  font-size: 32px;
  font-family: "Space Mono", "monospace";
  color: #69DB57;
}

.h2 {
  font-size: 24px;
  font-family: "Space Mono", "monospace";
  color: #69DB57;
}


.a {
  font-size: 24px;
  font-family: "Space Mono", "monospace";
  color: #FFFFFF;
  text-decoration: underline;
}

.p {
  font-size: 12px;
  font-family: "Space Mono", "monospace";
  color: #69DB57;
}
