// Place all the styles related to the spaceships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h1 {
  font-family: "Space Mono", "monospace";
  font-size: 32px;
  color: #69DB57;
}

.ships-grid {
  width: 1000px;
  margin: auto;
}

.ships-grid {
  width: 1000px;
  margin: auto;
  display: flex;
}

